<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Main Title -->
  <title>Esaú Morais</title>
  <!-- Required Link Tags -->
  <!-- Main Favicon Link -->
  <link rel="shortcut icon" href="/assets/images/logo.png" type="image/png">
  <!-- Ion Icons Link -->
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <!-- Style CSS -->
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body id="home">
  <!--Navbar -->
  <header>
    <div class="container">
      <nav class="nav">
        <div class="menu-icons">
          <i class="icon ion-md-menu"></i>
          <i class="icon ion-md-close"></i>
        </div>
        <a href="/" class="logo">
          <img src="/assets/images/logo.png" alt="EM">
        </a>
        <ul class="nav-list">
          <li><a href="./">Meus Projetos</a></li>

          <li><a href="../about-me/">Sobre</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!--End nav-->

  <!--Main Content-->
  <section class="content">
    <div class="text">
      <h1>Meus Projetos</h1>
      <p>Meus projetos irão aparecer <br> no link abaixo</p>
      <a href="https://linktr.ee/e.mmorais" class="btn icon ion-ios-apps" target="_blank"></a>
    </div>
  </section>

  <footer>Por<span> Esaú Morais</span></footer>

  <!-- Scripts JS -->
  <script src="/assets/js/index.js"></script>
</body>

</html>